<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Add a book to Database.</h1>
    {% if message %}
        <h2>{{ message }}</h2>
        <br>
    {% endif %}
    <form method = "POST" action = '{% url "home" %}'>
        {% csrf_token %}
        <fieldset>
            <table>
                <tr>
                    <td>
                        Name:
                    </td>
                    <td>
                        <input type="text" name="name" id="name" autocomplete="off" required><br>
                    </td>
                </tr>
                <tr>
                    <td>
                        <br>
                    </td>
                </tr>
                <tr>
                    <td>
                        Author:
                    </td>
                    <td>
                        <input type="text" name="author" id="author" autocomplete="off" required><br>
                    </td>
                </tr>
                <tr>
                    <td>
                        <br>
                    </td>
                </tr>
                <tr>
                    <td>
                        Language:
                    </td>
                    <td>
                        <select name="language" id="language">
                            <option value="English">English</option>
                            <option value="Hindi">Hindi</option>
                            <option value="Spanish">Spanish</option>
                            <option value="German">German</option>
                            <option value="Other Languages">Other Languages</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <br>
                    </td>
                </tr>
                <tr>
                    <td>
                        Genre:
                    </td>
                    <td>
                        <select name="genre" id="genre">
                            <option value="Comedy">Comedy</option>
                            <option value="Horror">Horror</option>
                            <option value="Drama">Drama</option>
                            <option value="Thriller">Thriller</option>
                            <option value="Other Genres">Other Genres</option>
                        </select>
                    </td>
                </tr>
                <tr>
                <tr>
                    <td>
                        <br>
                    </td>
                </tr>
                    <td>
                        Details:
                    </td>
                    <td>
                        <input type='text' id='textboxid' name='details' autocomplete="off" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <br>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type='submit' value='Submit' id='submit'>
                    </td>
                </tr>
            </table>
        </fieldset>
    </form>
    <br>
    <a href = '{% url "display" %}'>View Books</a>
    <!--script type="text/javascript">
        function box() {
            document.getElementById('textboxid').style.height="200px";
        }
        box();
    </script-->
</body>
</html>